@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../views/filament/forms/**/*.blade.php';
@source '../**/*.js';

:root {
    --acme-cream: #faf9f7;
    --acme-black: #222;
    --acme-light-gray: #fafafa;
    --acme-gold: #b59a6c;
    --acme-whitesmoke: #f5f5f5;
    --acme-blue: #6cb3b5;
}

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-dm-sans: "DM Sans", sans-serif;
    --font-playfair-display: "Playfair Display", serif;
    --color-cream: var(--acme-cream);
    --color-black: var(--acme-black);
    --color-light-gray: var(--acme-light-gray);
    --color-gold: var(--acme-gold);
    --color-primary: var(--acme-gold);
    --color-whitesmoke: var(--acme-whitesmoke);
}

@layer base {
    * {
        @apply font-dm-sans;
    }
    html,
    body {
        overflow-x: hidden;
        max-width: 100%;
        color: var(--acme-black);
    }
}

@layer utilities {
    .container {
        width: 100%;
        max-width: 83.75rem;
        @apply px-4 md:px-6 xl:px-8 mx-auto;
    }
    .text-13 {
        @apply text-[13px];
    }

    .page-title {
        @apply text-6xl leading-[0.9] font-playfair-display;
    }

    h1.page-title {
        @apply md:text-[90px] lg:text-[120px];
    }

    .section-title-text {
        @apply font-playfair-display text-3xl md:text-4xl;
    }

    .flex-center {
        @apply justify-center items-center;
    }

    .flex-between {
        @apply justify-between items-center;
    }
}
@layer components {
    .gradient-element {
        z-index: 0;
        background-image: linear-gradient(0deg, #222, #fff0);
        display: block;
        position: absolute;
        inset: 0%;
    }
    .separator {
        @apply w-full h-[1px] bg-black opacity-20;
    }

    .btn {
        @apply box-border aspect-auto object-cover border border-black flex-none w-auto py-4 px-10 no-underline relative overflow-hidden;
    }
    .btn-solid {
        @apply cursor-pointer border border-black bg-black text-white hover:border-[#555] hover:bg-black hover:text-white font-medium text-sm tracking-wider py-4 px-10 transition-all duration-300 w-full;
    }

    .cart#cart-overlay {
        @apply invisible opacity-0;
    }
    .cart#cart-overlay > #cart-container {
        @apply translate-x-full;
    }

    .cart.is-visible#cart-overlay {
        @apply visible opacity-100;
    }

    .cart.is-visible#cart-overlay > #cart-container {
        @apply translate-x-0;
    }

    /* Base nav link style */
    .side-nav-link {
        @apply transition-all duration-200 uppercase block text-center max-md:py-2.5
         md:text-left md:text-black md:bg-white md:hover:text-gold 
         max-md:hover:bg-black max-md:hover:text-white hover:opacity-100;
    }

    /* Active state */
    .side-nav-link-active {
        @apply max-md:bg-black max-md:text-white md:pl-3 md:border-l-[3px] md:border-gold font-medium;
    }

    /* Inactive state */
    .side-nav-link-inactive {
        @apply bg-white opacity-80;
    }

    /* Breadcrumbs Base */
    .breadcrumb-link {
        @apply text-white inline-block pr-2.5 text-sm;
    }

    /* Links that are not the last one */
    .breadcrumb-link-divider {
        @apply border-r border-cream opacity-75 hover:opacity-100;
    }

    /* Last active breadcrumb */
    .breadcrumb-link-active {
        @apply font-semibold;
    }

    /* Sidebar wrapper */
    .sidebar {
        @apply fixed left-0 p-4 transition-all duration-300 -translate-x-full md:translate-x-0 md:p-0 w-full 
         bg-white z-10 inset-y-0 h-svh md:w-1/5 md:sticky md:top-14 
         md:flex flex-col items-start gap-3.5 md:gap-1 mb-10 !bg-scroll;
    }

    .sidebar-active {
        @apply max-md:translate-x-0;
    }

    /* Base link */
    .sidebar-link {
        @apply block text-sm font-semibold text-center md:text-left bg-white 
         py-2.5 md:pr-8 opacity-80 hover:opacity-100;
    }

    /* Hover states */
    .sidebar-link-hover {
        @apply md:hover:underline md:hover:font-semibold 
         max-md:hover:bg-black max-md:hover:text-white;
    }

    /* Active state */
    .sidebar-link-active {
        @apply max-md:bg-black text-white md:text-primary;
    }

    /* Subcategory link */
    .sidebar-sub {
        @apply block text-xs md:text-sm text-center md:text-left bg-white 
         py-2 md:pr-8 md:pl-6 opacity-60 hover:opacity-100 hover:font-semibold;
    }

    /* Promo banner */
    .promo-banner {
        @apply h-84 pl-2.5 pt-5 sm:pt-2 md:pt-0 flex-col sm:flex-row  gap-y-4 cursor-pointer bg-light-gray overflow-clip;
    }

    .promo-content {
        @apply flex flex-col gap-8 ml-8 mr-auto items-start justify-center;
    }
    .promo-title {
        @apply text-2xl md:text-5xl font-playfair-display;
    }
    .promo-subtitle {
       @apply text-sm md:text-base opacity-80 my-2.5;
    }

    .promo-image {
        @apply max-sm:max-w-48 lg:max-w-64 lg:w-full lg:-mr-8 transition-all duration-300 ml-auto;
    }

    .whatsapp-button {
        position: relative;
    }
    .whatsapp-button:hover::after {
        content: "Chat with us on WhatsApp";
        position: absolute;
        bottom: 100%;
        right: 0;
        background: #333;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 12px;
        white-space: nowrap;
    }

}
