@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root {
    --acme-cream: #faf9f7;
    --acme-black: #222;
    --acme-light-gray: #fafafa;
    --acme-gold: #b59a6c;
    --acme-whitesmoke: #f5f5f5;
    --acme-blue: #6cb3b5;
    --acme-destructive: hsl(0 72.22% 50.59%);
}
@theme {
    --font-dm-sans: "DM Sans", sans-serif;
    --font-playfair-display: "Playfair Display", serif;
    --color-cream: var(--acme-cream);
    --color-black: var(--acme-black);
    --color-light-gray: var(--acme-light-gray);
    --color-gold: var(--acme-gold);
    --color-primary: var(--acme-gold);
    --color-whitesmoke: var(--acme-whitesmoke);
    --color-destructive: var(--acme-destructive);
}

@layer base {
    * {
        @apply font-dm-sans;
    }
    html,
    body {
        overflow-x: hidden;
        max-width: 100%;
        color: var(--acme-black);
    }
    input:-internal-autofill-selected {
        background-color: transparent !important;
        background-image: none !important;
        color: var(--acme-black) !important;
        box-shadow: 0 0 0px 1000px white inset !important;
        -webkit-text-fill-color: var(--acme-black) !important;
        transition: background-color 5000s ease-in-out 0s;
    }
}

@layer utilities {
     .text-13 {
        @apply text-[13px];
    }

     .container {
        width: 100%;
        max-width: 83.75rem;
        @apply px-4 md:px-6 xl:px-8 mx-auto;
    }

}

@layer components {
    
    .floating-input {
        @apply block w-full border border-gray-300 rounded-md px-3 py-2 text-sm focus:border-primary focus:ring-primary placeholder-transparent;
    }

    .floating-select {
        @apply block w-full border border-gray-300 rounded-md px-3 py-2 text-sm focus:border-primary focus:ring-primary;
    }

    .floating-label {
        @apply left-3 top-2.5 text-sm text-gray-700 transition-all duration-200 ease-in-out pointer-events-none;
    }

    .floating-label-input {
        @apply peer-placeholder-shown:top-2.5 peer-placeholder-shown:text-sm peer-placeholder-shown:text-gray-700
               peer-not-placeholder-shown:top-[-0.5rem] peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-gray-500 peer-not-placeholder-shown:bg-white peer-not-placeholder-shown:px-1
               peer-focus:top-[-0.5rem] peer-focus:text-xs peer-focus:text-primary peer-focus:bg-white peer-focus:px-1;
    }

    .floating-label-select {
        @apply peer-[&[value='']]:text-gray-700
               top-[-0.5rem] text-xs text-gray-500 bg-white px-1
               peer-focus:top-[-0.5rem] peer-focus:text-xs peer-focus:text-primary peer-focus:bg-white peer-focus:px-1;
    }
}

.animate-toast {
    animation: toast 4s forwards;
    /* Total duration: 4s (3s visible + 1s fade) */
  }

@keyframes toast {
    0% {
      opacity: 0;
    }

    10% {
        opacity: 1;
    }

    75% {
      opacity: 1;
    }

    /* Visible for ~3s (adjust as needed) */
    100% {
      opacity: 0;
    }
  }

  